body
{
    background-color: rgb(227, 212, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form
{
    display: flex;
    flex-direction: column;
}
#genpasslabel
{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.container
{
    width: 20rem;
    background-color: rgb(219, 189, 247);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px;
}
#length,#btn
{
    border: none;
    outline: none;
    height: 45px;
    padding: 5px;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 10px;
    background-color: rgb(227, 212, 242);
    box-shadow: 1px 1px;
}
#btn
{
    box-shadow: 3px 3px;
}
#btn:hover
{
    background-color: rgb(237, 229, 245);
    transition: all .2s;
    transform: scale(1.04);
    cursor: pointer;
}
#btn:active
{
    translate: 2px 2px;
    /* transform: translateY(5px); */
    box-shadow: 1px 1px;
}
#gpcontainer
{
    display: grid;
    grid-template-columns: 8rem 1rem;
}
.copy
{
    padding: 16px 0px 0px 0px;
}
.copy:hover
{
    /* transition: all .2s; */
    transform: scale(1.05);
    cursor: pointer;
}
.copy:active
{
    transform: translate(2px);
}